:root {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light;
  color: #2c3e50;
  background-color: #f5f7fa;
}

body {
  margin: 0;
  min-width: 1024px;
  min-height: 100vh;
  overflow: hidden; /* 防止双重滚动条 */
}

#app {
  width: 100%;
  height: 100%;
  text-align: left; /* 重置 Vite 默认的居中 */
  padding: 0;
  margin: 0;
  max-width: none;
}

button {
  font-family: inherit;
}

a {
  color: #409eff;
  text-decoration: none;
}